/* footer */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
	background: rgb(0, 0, 0, 0.65);
    margin-top: 10px;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
  
  }
 li a{
     font-size: 10px;
     color: gray;
 }
  
  .footercon {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: transparent;
  }
  
  .footer .flex1 {
    color:#999;;
    justify-content:space-around;
    align-items:flex-start;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    font-size: 12px;
    min-height: 30px;
    margin-left: 100px;
  
  }
  
  .footer .flex1 h5 {
    align-self:flex-start;
  }
  
  .list1 {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
    align-self: center;
    justify-content: center;
    min-height:50px;
    
    padding: 0px 70px;
    text-align: left;
  }
  
  .list1 li {
    
    margin: 7px -10px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: center;
    align-self: flex-start;
    justify-content: center;
  }
  
  .list1 li a {
    color: #999;
    text-decoration: none;
    
  }
  
  li a {
    
    text-align: center;
    color: #999;
  }
  
  
  .footertxt {
    color:white;
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content: flex-end;
  }
  hr{
    margin-top: 0%;
    color: #9e9e9e;
 border: 3px solid gray;

    
}
  
  @media (min-width: 250px) and (max-width: 980px) {
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .container1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
    }
  
    .area h1 {
      font-size: 40px;
      line-height:60px;
    }
  
    .area h3 {
      margin-top: 10px;
    }
  
    .container1 img {
      width: 60%;
    }
    .navbar {
      display: flex;
      flex-direction: column;
      background-color: black;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-height: 250px;
      margin-bottom: 30px;
  
    }
  
  
  
    .search {
      display: flex;
      flex-direction: column;
      margin: 30px;
      width: 50%;
      margin: 0 10px;
    }
  
    .box {
      width: 100%;
      margin-bottom: 20px;
      margin:30px;
    }
  
    .try {
      width: 200px;
      margin: 0 10px;
      font-size:17px;
      min-height:50px;
    }
  
    .search1 {
      display: flex;
      flex-direction: column;
      margin: 30px;
      width: 50%;
      margin: 0 10px;
      margin-bottom: 40px;
    }
  
  h4 {
    color:white;
  }
  
    .box1 {
      width: 100%;
      margin-bottom: 20px;
      margin:30px;
    }
  
    .try1 {
      width: 200px;
      margin: 0 10px;
      font-size:17px;
      min-height:50px;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .text h1 {
      font-size: 2rem;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .text p {
      font-size: 1.2rem;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .quest .textbox {
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .quest {
      width: 80%;
      min-height: 75px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  