*{
    margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}
 body {
    background-color: black;
    font-family: sans-serif;
}
 /*
 head section
 */
 header, .background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('../img/back.jpg');
      height: 70vh;
      background-size: cover;
      width: 100vw;
      align-items: center;
      justify-content: center;
       background-position: bottom;
 }

 .backgroun_btn{
     float: right;
     margin-top: -1540px;
     margin-right: 90px;
     


 }
 button{
    border-radius: 3px;

 }
 .backgroun_btn a button{
     background-color: red;
     width: 65px;
     height: 27px;
     border: red;
      border-radius: 20px red;
      color: white;
       font-family: sans-serif;
       font-size:13px;

 }
 svg{
     padding-top: 20px;
     padding-left: 60px;
 }
 path{
    font-size: large;

 }
 .massage{
    
    color: white;
    height: 200px;
    padding-top: 0px;
    margin-top: -400px;
 }
 
 .massage h1{
align-items: center;
justify-content: center;
display: flex;
font-size: 50px;font-weight: bold;font-family: Arial, Helvetica, sans-serif;
word-spacing: 5px;
 }
 .massage h2{
    align-items: center;
    justify-content: center;
    display: flex;font-family: Arial, Helvetica, sans-serif; font-size: 22px;
 } 
 .massage p{
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    margin-left: -10px;

 }  
 .address massage_input ,massage_input1
 {
    align-items: center;
    justify-content: center;
    display: flex;
 }
 .massage_input{
     width: 380px;
     height: 62px;
     padding-left: 8px;
     font-size: 14px;
     
 } 
 .massage_input1{
    width: 200px;
    height: 60px;
     background-color: red;
     border: red;
     padding-left: 10px;
       font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: white ;
 }

 .background_bttn a button{
     background-color: red; float: right; 
     margin-right: 20px;
     width: 60px;
     height: 30px;
      color: white;
       font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        border: red;
        border-radius: 2px;
        margin-top: -50px;
        margin-right: 50px;

 }
 
/*image 1*/
.container {
    width: 100%;
    min-height: 430px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
  }
  .image_vido ,img, video{
position: absolute;
  }
  .image_vido1 ,img, video{
    position: absolute;
    
      }
      .image_tv, video{
        top:20px;
        left:110px;
        margin-left: -50px;
        bottom: 0px;
        margin-right: -0px;
        }
         .text{
             margin-left: 100px;
         }
        /*imag 3*/
  .container1 {
    width: 100%;
    min-height: 310px;
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    position: relative;
    gap: 20px 10px;
     margin-bottom: 100px;
  }
 
 
  .image_tv, video{
    top:10x;
    left:110px;
    margin-left: -50px;
    bottom: 0px;
    margin-right: -0px;

    
    
    }
    .text1{
        margin-left: 100px;
    }
    .text1 h1 {
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
    align-items: initial;

      }
      .text1 p {
        font-size: 20px;
        margin-top: 7px;
        font-family: sans-serif;
        color: white;
    align-items: flex-start;
    justify-content: flex-start;


      }
      
  .text1 {
    
    margin-bottom: -300px;
    margin-right: 630px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
    

  }
    .text h1 {
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
    align-items: initial;

      }
      
     
      .text p {
        font-size: 20px;
        margin-top: 7px;
        font-family: sans-serif;
        color: white;
    align-items: flex-start;
    justify-content: flex-start;


      }
      
  .text {
    
    margin-bottom: -300px;
    margin-right: 630px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: center;
    align-content: center;
    

  }
   hr{
       margin-top: 0%;
       color: #9e9e9e;
    border: 3px solid gray;

       
   }
  /* imge 4*/
  .our-story-card animation-card{
      width: 100%;
      height: 100px;
  }
  .animation-card-container{
    margin-top: 20px;
    margin-bottom: 40px;

  }


 
.our-story-card-title{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;

}
.our-story-card-subtitle{
    color: white;
    font-size: 20px;
    font-family: sans-serif;

}

.our-story-card-text{
float: right;  
margin-right: 350px; 
margin-top:-100px; 
}
.our-story-card-img{
    margin-left: 350px;
    margin-top: -200px;



}
/*imag2*/

  .download{
    padding: 40px 30px 60px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
      height: 300px;
      margin-left: 200px;
      margin-bottom: 70px
}
.mobile{
    position: relative;

    
}
.mobile-img{
    width: 400px;
    height: 300px;
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom: -20px;
}
.box{
    position: absolute;
    top: 170px;
    left: 130px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: 1px solid #222;
    border-radius: 14px;
    width: 300px;
    height: 90px;
    background: #000;
    margin-left: 20px;
}
.box img{
    width: 46px;
    height: 64px;
}
.box h2{
    padding-top: 13px;
    font-size: 16px;
    height: 25px;
     color: white;
    margin-bottom: 10px;
}
.box p{
    font-size: 14px;
    color: #0071eb;
}
.box .gif{
    width: 60px;
    height: 60px;
}
.download-content{
    padding-top: 60px;
}
.download-content h1{
    font-size: 40px;
    color: white;
    font-family:sans-serif;
      font-weight: bold;

}
.download-content p{
    padding-top: 20px;
    font-size: 20px;
    color: white;
     font-family: sans-serif;
      

}
.stream{
    padding: 50px 30px 60px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}
.stream .stream-content h1{
    padding-top: 80px;
    font-size: 47px;
}
.stream .stream-content p{
    padding-top: 30px;
    font-size: 25px;
    font-weight: 500;
}
.mac{
    position: relative;
}
.mac tv-mac{
    z-index: 1;
}
.tv-2{
    position: absolute;
    top: 40px;
    left: 120px;
    z-index: -1;
}
.tv-2 video{
    display: inline-block;
    vertical-align: baseline;
    max-width: 82%;
    max-height: 54%
}

  
